.tac {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.tac > h1 {
    font-weight: bolder;
    font-family: poppins;
    font-size: 36px;
}

.tac > p {
    margin-top: 10px;
}